body{
    font-family: 'Inter', sans-serif;
}

.color-primary{
    background-color:rgba(82,59,228,1);
}

.card-width{
   max-width:75%;
}

.carousel-height{
   height:35rem;
}

@media screen and (min-width:992px) {
    .ms-6{
        margin-left:4em;
    }    
    .me-6{
        margin-right:6em;
    }
}
