.input-size-medium{
    max-width: 100%;
    width: 17em; 
    height: 3em;
}

.btn-size{
    width: 158px;
}

@media screen and (min-width:992px) {
    .input-size-large{
        width: 20em; 
        height: 3em;
    }

    .photo-2-size{
        width: 380px;
    }
}

